<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
   <h1 class="text-white bg-dark"> Sesion Iniciada</h1>

   <div align="right"> <a href="" class="btn btn-secondary">Usuario: </a>
    </div>
 
</nav>

<nav class="navbar navbar-dark bg-dark">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href=" ">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=" ">Propiedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Buscar</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/help">Ayuda</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" href="/contacto">Contacto</a>
    
  </li>
</ul>
</nav>


       <div class="card mb-3">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">PROPIEDAD 1</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted"> week: -- to ---</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"> PROPIEDAD 2</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">week: --- to ---</small></p>
  </div>
  <img class="card-img-bottom" src=".../100px180/" alt="Card image cap">
</div>
