<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
   <h1 class="text-white bg-dark"> Sesion Iniciada</h1>

   <!--<%= link_to 'Usuario: #{@admin.nombre} #{@admin.apellido}', '/administrators/perfil' %>  -->

   <!--<div align="right"> <a href="" class="btn btn-secondary">Administrador </a>
    </div>-->
 
</nav>

<nav class="navbar navbar-dark bg-dark">

<a class="navbar-brand" href="#">Administrador</a>
    <p class="text-light bg-dark" href="/administrators/sesionIniciada/1">Inicio <span class="sr-only">(current)</span></p> <!-- Aqui seccion actual -->

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/administrators/sesionIniciada/1">Inicio <span class="sr-only">(current)</span></a> <!-- Aqui seccion actual -->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/residences">Propiedades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Buscar</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#">Reservas</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#">Clientes</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#">Ayuda</a>
      </li>
    </ul>
  </div>
  </nav>




<br>
<br>

 <div class="shadow p-3 mb-5 bg-white rounded">
  <div class="card mb-3">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">HOT SALE </h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted"> week: -- to ---</small></p>
  </div>
</div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
<div class="card">
  <div class="card-body">
    <h5 class="card-title"> PROPIEDAD </h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">week: --- to ---</small></p>
  </div>
  <img class="card-img-bottom" src=".../100px180/" alt="Card image cap">
</div>
</div>
