<div class="card">
  <div class="card-body">
  	<h2>Propiedad: </h2>
  	<table>
  		<tr> 
  			<th><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_719913-MLA27771918393_072018-K.jpg" alt="Imagen de la Propiedad.">

  <div class="card-body">
    <p class="card-text">Descripcion de la propiedad</p>
  </div>
</div>
   
  </div>
</div>
</th>
<th>
	<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">info de la propiedad..</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
  </div>
</div>
</th>
<th>
	
</th>


</tr>

	</table>
    



