<nav class="navbar navbar-dark bg-dark">
  <h3 class="text-white bg-dark"><%= "Propiedad: #{@residence.nombre}"%></h3>
</nav>

<br>
<br>


<div id="weekpicker">
  <!-- Use normal text because I use custom format 2017-W34 (19/8 - 25/8) -->
  <input class="form-control" name="name" value="displayValue"/>
</div>