 <br>
 <br>
<div class="p-3 mb-2 bg-dark text-white">

   <center>
    <<%= link_to "Contacto", "/Contacto"%>
    <<%= link_to "Ayuda", "/help"%>
    <<%= link_to "Sobre Nosotros", "/about"%></center>
    <br>
    <CENTER> <p> - Cadena de Hoteles Home Switch Home - 2018 -</p></CENTER>

    
    
    </div>