<header>

  <div class="card">
  <div class="card-body">
    
    <div class="media">
  <img class="align-self-start mr-3" src=".../64x64" alt="Logo">
  <div class="media-body">
    <h5 class="mt-0">Home Switch Home</h5>
    <p>info.. //descripcion del sitio.</p>
  </div>
</div>

  </div>
</div>


  </header>