<header>
  <nav class="navbar navbar-dark bg-dark">
</nav>
    <div class="media">
      <%= link_to "/", class: 'navbar-brand' do %>
            <%= image_tag "HSH-Logo.svg",size: "150x100", title: "Logo", class: "image" %>
              <% end %>

<div align="left">
 <div class="media-body">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <%= link_to "/", class: 'navbar-brand' do %>
            <%= image_tag "HSH-Text.svg",title: "HSH", class: "image" %>
              <% end %>
        </div>
        
      </div>
       </div> 
  </div>
</div>
</div>

    <nav class="navbar navbar-dark bg-dark">
</nav>

</header>